:root {
  --black: #000;
  --dark-magenta: #673695;
  --grey: #cfcfdb;
  --light-grey: #efdcc36e;
  --light-magenta: #6c5285;
  --magenta: hsl(271, 76%, 53%);
  --white: #ffffff;
  --yellow: #e7c333;
}
* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 6.875rem;
}

ul {
  list-style: none;
}
body {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/*animation*/
.dropping-texts {
  display: inline-block;
  height: 2.25rem;
  text-align: left;
  vertical-align: -0.125rem;
  width: 11.25rem;
}

.dropping-texts > h2 {
  box-shadow: 0rem 3.75rem 1.5625rem -1.25rem rgba(0, 0, 0, 0.5);
  font-size: 0rem;
  font-weight: 300;
  margin-left: -1.875rem;
  opacity: 0;
  position: absolute;
}

.dropping-texts > h2:nth-child(1) {
  animation: roll 5s linear infinite 0s;
}
.dropping-texts > h2:nth-child(2) {
  animation: roll 5s linear infinite 1s;
}
.dropping-texts > h2:nth-child(3) {
  animation: roll 5s linear infinite 2s;
}

@keyframes roll {
  0% {
    font-size: 0rem;
    margin-left: -1.875rem;
    margin-top: 0rem;
    opacity: 0;
    transform: rotate(-25deg);
  }
  3% {
    opacity: 1;
    transform: rotate(0deg);
  }
  5% {
    font-size: 2.25rem;
    margin-left: 0rem;
    margin-top: 0rem;
    opacity: 1;
  }
  20% {
    font-size: 2.25rem;
    margin-left: 0rem;
    margin-top: 0rem;
    opacity: 1;
    transform: rotate(0deg);
  }
  27% {
    font-size: 0rem;
    margin-left: 1.25rem;
    margin-top: 6.25rem;
    opacity: 0.5;
  }
  100% {
    font-size: 0rem;
    margin-left: -1.875rem;
    margin-top: 0rem;
    opacity: 0;
    transform: rotate(15deg);
  }
}

/*section 1*/
.header-section-parent {
  background-image: url("./images//background.avif");
  background-repeat: no-repeat;
  background-size: 100%;
}

.header-section-parent .container {
  margin: 0 auto;
  padding: 1.875rem 6.875rem 0;
}

header,
.value-section,
.header-section,
.programs-section-container,
.programs-section .slide .card.active,
.menu-section .menu-paragraph,
footer .bottom-right,
footer .container .right,
footer .container .top,
footer .bottom {
  display: flex;
  justify-content: space-between;
}

/*header style */

header {
  align-items: center;
}

header .dropping-texts h2 {
  color: var(--yellow);
}
header ul,
.watch-video-section,
.play-button,
.programs-section .slide,
.container-started,
.menu-container,
.menu-section .left .card,
.menu-section .right .slide,
.menu-section .right .buttons-container,
.testimonials-section .container,
.testimonials-section .slide-buttons-container .buttons-slide-container {
  display: flex;
}

header ul {
  list-style: none;
}

header ul li,
button,
.programs-section .slide .card h3 {
  font-size: 1.5rem;
}

header ul li {
  margin-right: 1.5rem;
}

header ul li a {
  color: var(--white);
  text-decoration: none;
}

button {
  background-color: var(--yellow);
  border-radius: 0.625rem;
  border: 0.125rem solid var(--grey);
  color: var(----black);
  cursor: pointer;
  font-weight: bold;
  padding: 0.9375rem 1.875rem;
}

/*header section style*/

.value-section,
.header-section {
  padding: 3.125rem 0;
}

.header-section .left,
.header-section .right {
  flex-grow: 1;
  width: 50%;
}

.header-section .left h2 {
  color: var(--white);
  font-size: 7.3125rem;
  margin-bottom: 1.875rem;
}

.header-section .left span {
  color: var(--yellow);
}

.header-section .left p {
  color: var(--grey);
  font-size: 2.375rem;
  margin-bottom: 1.875rem;
}

.header-section .right img {
  bottom: -8.9375rem;
  position: relative;
  width: 100%;
}

.watch-video-section {
  align-items: center;
}

.play-button {
  margin-left: 2.5rem;
}

.play-button i {
  margin-right: 0.9375rem;
}

/*section 2*/
/*programs section style*/

.programs-section {
  padding: 2.5rem 0;
  background-color: var(--white);
}

.programs-section .container {
  padding: 6.875rem;
}

.testimonials-title,
.menu-title,
.value-title,
.programs-title,
.value-section .left,
.cards-top,
.cards-bottom {
  align-items: center;
  display: flex;
}

.testimonials-title i,
.menu-title i,
.value-title i,
.programs-title i {
  border-radius: 0.625rem;
  border: 0.125rem solid var(--grey);
  padding: 0.9375rem;
}

.programs-section-container {
  align-items: center;
}

.testimonials-title h3,
.menu-title h3,
.value-section h3,
.programs-section-container h3 {
  color: var(--magenta);
  font-size: 2.5rem;
}

.fa-crown,
.programs-section .slide .card .fa-crown {
  background-color: var(--magenta);
  border-radius: 0.3125rem;
  color: var(--yellow);
  margin-right: 0.9375rem;
  padding: 0.9375rem 0.3125rem;
}

.fa-circle-chevron-left,
.fa-circle-chevron-right {
  cursor: pointer;
  margin-left: 0.9375rem;
}

.programs-section .slide {
  align-items: end;
  height: 21.875rem;
  margin-top: 3.125rem;
}

.programs-section .slide .card {
  background-color: var(--magenta);
  border-bottom: 1.25rem solid var(--grey);
  border-top: 1.25rem solid var(--grey);
  flex-grow: 1;
  opacity: 0.7;
  padding: 1.875rem;
  text-align: center;
  width: 25%;
}

.programs-section .slide .card h3 {
  color: var(--white);
  margin: 0.625rem 0;
}

.programs-section-container .fa-circle-chevron-left.disabled,
.programs-section-container .fa-circle-chevron-right.disabled {
  opacity: 0.3;
  pointer-events: none; /* Disable pointer events to make them unclickable */
}

.programs-section .slide .card p {
  color: var(--grey);
  font-size: 1.125rem;
}

.programs-section .slide .card .fa-crown {
  border-radius: 0.9375rem;
  border: solid 0.125rem var(--white);
  padding: 0.9375rem;
}
.programs-section .slide .card:first-child {
  border-bottom-left-radius: 2.5rem;
  border-left: 1.25rem solid var(--grey);
  border-top-left-radius: 2.5rem;
}

.programs-section .slide .card:last-child {
  border-bottom-right-radius: 2.5rem;
  border-right: 1.25rem solid var(--grey);
  border-top-right-radius: 2.5rem;
}

.programs-section .slide .card.active {
  background-color: var(--yellow);
  border-top-left-radius: 1.5625rem;
  border-top-right-radius: 1.5625rem;
  border: none;
  bottom: 0;
  flex-direction: column;
  height: 17.5rem;
  position: relative;
  transition: 0.5s ease-in;
}

.programs-section .slide .card.slide-active {
  color: #cf1261;
  opacity: 1;
}

.programs-section .slide .card .learn-more-button {
  display: none;
}

.programs-section .slide .card.active .learn-more-button {
  display: block;
}

.programs-section .slide .card.active h3,
.programs-section .slide .card.active p,
.programs-section .slide .card.active .learn-more-button {
  color: var(--black);
}
.programs-section .slide .card.card.active .fa-crown {
  background-color: var(--grey);
}

.programs-section .slide .card.hidden {
  display: none;
}

.learn-more-button {
  color: var(--white);
  padding: 0.3125rem;
}

/*section 3*/
/**value section styling**/
.value-section .left,
.value-section .right {
  flex-grow: 1;
  width: 50%;
}

.value-section .left img {
  width: 100%;
}

.value-section p {
  color: var(--grey);
  font-size: 1.875rem;
}

.cards-top,
.cards-bottom {
  gap: 2.5rem;
  margin-top: 6.25rem;
}

.cards-bottom .card,
.cards-top .card {
  background-color: var(--grey);
  border-radius: 1.875rem;
  border: 0.125rem solid var(--white);
  padding: 3.125rem 1.25rem;
  position: relative;
}

.cards-bottom .card h3,
.cards-top .card h3 {
  font-size: 1.5rem;
  margin-bottom: 0.9375rem;
}

.cards-bottom .card p,
.cards-top .card p {
  color: var(--white);
  font-size: 1.25rem;
  line-height: 1.5;
}

.cards-top .card .fa-crown,
.cards-bottom .card .fa-crown {
  position: absolute;
  top: -2.8125rem;
}
.container-started i,
.cards-top .card i,
.cards-bottom .card i {
  border-radius: 0.625rem;
  border: 0.125rem solid var(--grey);
  padding: 0.9375rem;
}

.value-section-container .container {
  background-color: var(--light-grey);
}
/*section 4*/
/**started section**/
.started-section .container {
  text-align: center;
}

.container-started {
  background-color: var(--magenta);
  border-radius: 2.5rem;
  border: 1.5625rem solid var(--grey);
  flex-direction: column;
  gap: 1.25rem;
  padding: 3.125rem;
}

.container-started i {
  background-color: var(--dark-magenta);
  /* border-radius: 0.625rem;
  border: 0.125rem solid var(--grey);
  padding: 1.25rem; */
}

.container-started h3 {
  color: var(--white);
  font-size: 2.5rem;
}
.container-started h3 span {
  color: var(--yellow);
}
.container-started p,
.testimonials-section .container .right p {
  font-size: 1.5rem;
  line-height: 1.5;
}

.container-started p {
  color: var(--grey);
}

/*scroll bar style*/
::-webkit-scrollbar {
  width: 0.3125rem;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0.125rem;
  box-shadow: inset 0 0 0.3125rem grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--magenta);
  border-radius: 0.625rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--magenta);
}
/*section 5*/
/**healthy menu section**/
.menu-section {
  background-color: var(--light-grey);
}

footer .container .left p footer .container .left h3,
.testimonials-section .container .right p,
.menu-header p {
  color: var(--light-magenta);
}

.menu-header p {
  font-size: 1.125rem;
  line-height: 1.5;
  margin: 0.9375rem 0 1.5625rem;
}

.menu-section .left {
  height: 34.75rem;
  overflow-y: scroll;
  width: 40%;
}

.menu-section .left .card {
  align-items: center;
  background-color: var(--grey);
  border-radius: 0.625rem;
  border: 0.1875rem solid var(--white);
  cursor: pointer;
  margin: 1.25rem 0;
  padding: 1.125rem 3.4375rem 1.125rem 1.5625rem;
  transition: 0.5s ease;
  width: fit-content;
}

.menu-section .left .card:hover {
  background-color: var(--yellow);
}
.menu-section .left .card:hover p {
  color: var(--white);
}

.testimonials-section .container .right .slide-container > i,
.menu-section .left .card .fa-solid {
  border-radius: 0.625rem;
  border: 0.1875rem solid var(--white);
  padding: 0.9375rem;
}

.menu-section .left .card p {
  color: var(--dark-magenta);
  font-size: 1.25rem;
  font-weight: bold;
  margin-left: 1.25rem;
}

.menu-section .right {
  padding-left: 5.3125rem;
  width: 60%;
}
.menu-section .right .slide {
  cursor: pointer;
  font-size: 0rem;
  gap: 3.125rem;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.menu-section .right .slide.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.menu-section .right .slide.dragging .card-image {
  pointer-events: none;
}
.menu-section .right .buttons-container {
  justify-content: right;
}

.menu-header .buttons-container i.disabled {
  opacity: 0.3;
}

.menu-container .right .card-image {
  background-color: var(--light-grey);
  background-color: var(--white);
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  border-top-left-radius: 21.875rem;
  border-top-right-radius: 21.875rem;
  border: 0.1875rem solid var(--white);
  max-width: 18.75rem;
  padding: 2.5rem;
  text-align: center;
  transition: 0.5s ease-in;
}

.menu-container .right .card-image:hover {
  background-color: var(--light-magenta);
}

.menu-container .right .card-image:hover p {
  color: var(--white);
}
footer .container .right h2,
.testimonials-section .slide-container .free-lancer-container span,
.testimonials-section .slide-container .free-lancer-container h3,
.menu-container .right .card-image p,
.fa-circle-chevron-left,
.fa-circle-chevron-right {
  color: var(--magenta);
}

.menu-container .right .card-image p {
  font-size: 1.5rem;
  margin: 2.4375rem 0;
}

.menu-container .right .card-image .image-container {
  background-color: var(--grey);
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  border-top-left-radius: 21.875rem;
  border-top-right-radius: 21.875rem;
  border: 0.1875rem solid var(--white);
  margin-bottom: 1.875rem;
  padding: 2.5rem;
}

.menu-container .right .card-image img {
  width: 9.375rem;
}

/*section 6*/
/*testimonials about us*/
.testimonials-section {
  background-color: var(--grey);
}

.testimonials-section .container {
  background-color: var(--grey);
}
.testimonials-section .container .left {
  width: 50%;
}

.testimonials-section .container .right {
  width: 50%;
}
.testimonials-section .container .image-container {
  background-color: var(--light-grey);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border: 1.25rem solid white;
  bottom: -2.0625rem;
  height: 25rem;
  position: relative;
  transform-style: preserve-3d;
  transform: translate(0);
  width: 25rem;
}

.testimonials-section .container .shadow:before {
  border-radius: inherit;
  content: "";
  inset: 0;
  position: absolute;
  transform: translate3d(0, 0, -0.0625rem);
  background: conic-gradient(
    from 90deg at 32% 83%,
    #ffd700,
    #f79d03,
    #ee6907,
    #e6390a,
    #de0d0d,
    #d61039,
    #cf1261,
    #c71585,
    #cf1261,
    #d61039,
    #de0d0d,
    #ee6907,
    #f79d03,
    #ffd700,
    #ffd700,
    #ffd700
  );
  filter: blur(5.6875rem);
}

.testimonials-section .container .image-container img {
  bottom: 6.8125rem;
  left: -9.4375rem;
  position: relative;
  width: 50rem;
}

.testimonials-section .container .right p {
  margin-top: 1.25rem;
}

.testimonials-section .container .right .slide-container {
  background-color: var(--light-grey);
  border-radius: 1.25rem;
  border: 0.1875rem solid var(--white);
  margin-top: 2.5rem;
  padding: 1.875rem 1.25rem 1.5625rem 1.5625rem;
  position: relative;
  width: auto;
}

.testimonials-section .container .right .slide-container > i {
  position: absolute;
  top: -2.1875rem;
}
.testimonials-section .slide-container .free-lancer-container {
  margin-top: 0.9375rem;
}

.testimonials-section .slide-container .free-lancer-container h3 {
  font-weight: bold;
  margin-bottom: 0.9375rem;
}

.testimonials-section .slide-container .free-lancer-container span {
  font-size: 1.25rem;
}

.testimonials-section .slide-buttons-container {
  position: relative;
}
.testimonials-section .slide-buttons-container .buttons-slide-container {
  bottom: 5%;
  justify-content: flex-end;
  position: absolute;
  right: 5%;
}

.testimonials-section .buttons-slide-container i.disabled {
  opacity: 0.5;
}

/*footer*/

footer {
  background-color: var(--light-grey);
}

footer .container {
  margin: 0 auto;
  padding: 6.875rem 6.875rem 1.6875rem;
}
footer .container .left h3,
footer .container .left p,
footer .container .right li,
footer .bottom,
footer .bottom-right {
  color: var(--dark-magenta);
}

footer .container .top {
  margin-bottom: 3.125rem;
}

footer .container .left {
  width: 40%;
}
.value-title,
footer .container .right li,
footer .container .right h2 {
  margin-bottom: 1.25rem;
}

footer .container .left h3 {
  font-size: 2.5rem;
}

footer .container .left p {
  font-size: 1.25rem;
  line-height: 1.5;
}

footer .container .right {
  width: 60%;
}

footer .container .right h2 {
  font-size: 1.875rem;
}

footer .bottom,
footer .bottom-right,
footer .container .right li {
  font-size: 1.5rem;
}

footer .bottom-right {
  width: 30%;
}
